nav {
  display: flex;
  flex-direction: column;  
}

nav > div {
  padding: 0.5rem;
  margin: 0.25rem;
  border: 3px solid white;
  border-left: 3px solid black;
  transition: 0.2s all;
  cursor: pointer;
}

nav > div:hover {
  border: 3px solid black;
}