.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  padding: 10px;
  border-radius: 2%;
  border: 3px solid black;
  transition: all 0.2s;
  cursor: pointer;
  margin: 0rem 0.25rem;
}

button:hover {
  background-color: black;
  color: white;
}

.device_blip {
  border: 5px solid transparent;
  color: white;
  font-weight: bold;
  text-align: center;
}

.device_blip:hover {
  border: 5px solid black;
}
