/* ==============
  Card
===================*/

@keyframes animateHeight {
  from {
    // max-height: 150px;
    opacity: 0;
  }
  to {
    // max-height: 1000px;
    opacity: 1;
  }
}

.card {
  opacity: 0;
  animation: 0.3s ease-in-out 0s 1 animateHeight;
  animation-fill-mode: forwards;
  border: none;
  // min-width: 500px;
  box-shadow: $shadow;
  margin-bottom: 30px;
  background-color: $dark;
}

@media (min-width: 576px) {
  .card-columns {
      -webkit-column-gap: 30px;
      -moz-column-gap: 30px;
      column-gap: 30px;
  }
}

.card-columns {
  .card {
    margin-bottom: 30px;
  }
}